.Alltogr {
    width: 600px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10%;
}
h1, h2{
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
body{
    background-color: #89e2e3;
}

.eric_foto {
    width: 250px;
    height: 300px;
}
.Kyle_foto{
    width: 200px;
    height: 250px;
}

p{
    background-color: #58c528;
}
ul{
    background-color: #ec1b3c;
}